*{
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px white;
}


body {
    
    padding: 0;
    text-align: center;
    margin-top: 20px;
    margin: 30px 5vw 10vw 5vw;
}


html{
    /*
    background: url(https://cdn.pixabay.com/photo/2014/08/09/15/45/sky-414199_960_720.jpg);
    */
    background: #8ebad3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;   
    grid-auto-rows:minmax(0%, auto);
    
    justify-items:stretch;
    align-items:stretch;
    display: flexbox;
 
    box-sizing: border-box;   
    text-align: center;
    align-content: center;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
  }



#map {


    min-width: 300px;
    grid-column: 1;
    grid-row: 3;
    /*margin: 50px;*/
    border-color: white 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}



header{

    width: 80vw;
    text-align: center;
    font-size: 40px;

    margin: auto;

    padding: 25px;
    grid-column: 1/4;
    grid-row: 1;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    background-color: rgb(151, 143, 143, 0.2);

}

h1{
    text-shadow: 10px 10px 40px rgb(151, 143, 143, 0.2);
    margin-bottom: 20px;
}

h2{
    font-size: 45px;
    margin-bottom: 30px;

}
h3{

    margin-bottom: 5px;
    font-size: 30px;
}

#info, .isResizable, #map{
    margin: 20px;
    padding: 50px;
}



#locdiv{
    text-align: center;
    grid-column: 1/4;
    grid-row: 2;

}

#locationInput{
    background-color: rgb(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 5px;
    font-size: 35px;
    width: 350px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px white;
    transition: 0.3s;
}

#locationInput:focus{
    background-color: rgb(235, 83, 83);
}
#locationInput:hover{
    background-color: rgb(235, 83, 83);
}

#info{
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    border: solid white 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px white ;
    background-color: rgb(151, 143, 143, 0.25);
    resize: both;

}

.isResizable{
    grid-column: 3;
    grid-row: 3;
    /*margin: 50px;*/
    text-align: center;
    padding: 50px;

    border: solid white 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px white ;
    background-color: rgba(255, 255, 255, 0.25);
    resize: both;
    overflow: hidden;
}

#week-info{
    position: relative;
    width: 100%;
    height: 100%;
}

#myChart{
    position: relative;
    width: 100%;
    resize: both;
}


#weather-div{
    height: 180px;
}



#weather-icon{
    position: relative;
    top: -50px;
    grid-column: 3;
    grid-row: 3;

    width: 150px;
    height: 150px;
    opacity: 75%;

}

footer{  
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgb(151, 143, 143, 1.0);
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;   
    border-top: 2px solid white;
    box-shadow: 0 0 10px white ;
    left: 0px;
}

#copyright{
    margin-right: 30px;
    text-align: right;
}

#copyrightText{
    font-size: 25px;
    letter-spacing: 1px;
}


a{
    color: white;
    text-decoration: none;
    text-shadow: none;
}



@media(max-width: 1500px){
    
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-auto-rows:minmax(0%, auto);

        grid-gap:1em;
        justify-items:stretch;
        align-items:stretch;
        box-sizing: border-box;
        text-align: center;
        align-content: center;

    }

    .isResizable{
        grid-column: 1/3;
        grid-row: 4;
        margin: auto;
        margin-top: 0px;
        text-align: center;
        width: 50%;
    }
}

@media (pointer:none), (pointer:coarse) {
    
    html{

    }
    body{

    }
    header{
        font-size: 3vw;
        margin: auto;
        grid-column: 1;
        grid-row: 1;

    }


    #info{
        text-align: center;
        grid-column: 1;
        grid-row: 3;
        border: solid white 1px;
        border-radius: 20px;
        box-shadow: 0 0 10px white ;
        background-color: rgb(151, 143, 143, 0.25);
        resize: both;
    
    }

    #locationInput{


        font-size: 4vw;
        width: 50vw;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 10px white;
        transition: 0.3s;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr;   
        grid-auto-rows:minmax(0%, auto);
        
        justify-items:stretch;
        align-items:stretch;
        display: flexbox;
     
        box-sizing: border-box;   
        text-align: center;
        align-content: center;
    }


    #map{
        min-width: 0vw;
        grid-column: 1;
        grid-row: 4;
        /*margin: 50px;*/
        border-color: white 1px solid;
        border-radius: 20px;
        box-shadow: 0 0 10px white;
        width: 80vw;
        height: 80vw;
    
    }

    .isResizable{
        grid-column: 1;
        grid-row: 5;
        margin: auto;
        margin-top: 0px;
        text-align: center;
        width: 80vw;
        height: 80vw;
    }


    h2{
        font-size: 7vw;
        margin-bottom: 30px;
    
    }
    h3{
    
        margin-bottom: 5px;
        font-size: 5vw;
    }

    #info, .isResizable, #map{
        margin: 4vw;
        padding: 4vw;
    }

}