*{
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px white;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}


html{
    background: url(https://cdn.pixabay.com/photo/2014/08/09/15/45/sky-414199_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-auto-rows:minmax(100px, auto);
    
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
}


#map {
    height: 100%;
    min-width: 300px;
    grid-column: 1;
    grid-row: 3/4;
    margin: 0px 40px 200px 80px;
    border-color: white 2px solid;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}



header{
    text-align: center;
    font-size: 40px;
    margin: 20px 0px;
    padding: 25px;
    grid-column: 2;
    grid-row: 1;

}

h1{
    text-shadow: 10px 10px 40px rgb(151, 143, 143, 0.2);
}

#locdiv{
    text-align: center;
    grid-column: 2;
    grid-row: 2;

}

#locationInput{
    background-color: rgb(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 5px;
    font-size: 35px;
    width: 350px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px white;
}
#locationInput:focus{
    border: 2px solid white;
}


#info{
    margin-top: 100px;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    padding: 60px 90px;
    border: solid white 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px white ;
    background-color: rgb(151, 143, 143, 0.25);
    resize: both;
}



h2{
    font-size: 45px;
    margin-bottom: 30px;

}
h3{

    margin-bottom: 5px;
    font-size: 30px;
}

#weather-div{
    height: 180px;
}



#weather-icon{
    position: relative;
    top: -50px;
    grid-column: 3;
    grid-row: 3;

    width: 150px;
    height: 150px;
    opacity: 75%;

}

footer{
    margin: 50px;
}


/*
#searchbox{
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    border: none;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}


#floating-panel {
  position: absolute;
  top: 50px;
  left: calc(50% - 125px);
  margin: auto;
  z-index: 5;
  background-color: transparent;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}

*/