*{
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


html{
    /*
    background: #8ebad3;
        background: url(https://cdn.pixabay.com/photo/2014/08/09/15/45/sky-414199_960_720.jpg);
    */


    background: url("img/cumulus-499176.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

body {
    min-height: 100%;
    display: flexbox;
    box-sizing: border-box;   
    text-align: center;
    align-content: center;
}


header{

    width: 100%;
    text-align: center;
    font-size: 30px;

    padding: 1vw;
    border-bottom: 2px solid white;
    box-shadow: 0 0 10px white ;
    margin-bottom: 2vw;
    background-color: rgb(151, 143, 143, 1.0);
    color: white;
}

header > h1{
    margin: 0px;
}

main{
    min-height: 100%;
    padding: 0;
    text-align: center;
    
    margin-top: 20px;
    margin: 5vw 5vw 5vw 5vw; 

}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 400px 1fr;   
    grid-auto-rows:minmax(0%, auto);
    
    justify-items:stretch;
    align-items:stretch;
    display: flexbox;
    box-sizing: border-box;   
    text-align: center;
    align-content: center;
}
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}



#map {


    min-width: 300px;
    grid-column: 1;
    grid-row: 2/4;
    /*margin: 50px;*/
    border-color: white 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}




h1{
    text-shadow: 10px 10px 40px rgb(151, 143, 143, 0.2);
    margin-bottom: 20px;
}

h2{
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
}
h3{

    margin-bottom: 5px;
    font-size: 30px;
}

#info, .isResizable, #map{
    margin: 20px;
    padding: 50px;
}



#locdiv{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

#locdiv > h2{
    margin: 0px;
}



#locationInput{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 20px;
    font-size: 35px;
    width: 350px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    box-shadow: 0 0 10px white;
    transition: 0.3s;
}

#locationInput:focus{
    background-color: rgb(255, 255, 255, 0.6);
    outline-width: 0;
}
#locationInput:hover{
    background-color: rgb(255, 255, 255, 0.6);
}

#info{
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    border: solid white 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px white ;
    background-color: rgb(151, 143, 143, 0.2);;
    resize: both;
    padding-left: 0px;
    padding-right: 0px;;
    

}

.isResizable{
    grid-column: 3;
    grid-row: 2/4;
    text-align: center;
    border: solid white 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px white ;
    background-color: rgba(255, 255, 255, 0.25);
    resize: both;
    overflow: hidden;
    max-height: 600px;
    display: flexbox;
}

#week-info{
    position: relative;
    width: 100%;
    height: 70%;
    left: -20px;
}

#myChart{
    position: relative;
    width: 100%;
    resize: both;
}

#weather-div{
    height: 180px;
}

#weather-icon{
    position: relative;
    top: -50px;
    grid-column: 3;
    grid-row: 3;
    width: 150px;
    height: 150px;
    opacity: 75%;
}

#weather-icons{
    position: relative;
    display: inline-block;
    top: -20px;
    width: 100%;
}

.weather-icons-icon{
    position: relative;
    width: 12.5%;
}
/*
footer{  
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgb(151, 143, 143, 1.0);
    text-align: center;
    margin-top: 50px;  
    border-top: 2px solid white;
    box-shadow: 0 0 10px white ;
    left: 0px;
}
*/

footer{  
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    background-color: rgb(151, 143, 143, 1.0);
    border-top: 2px solid white;
    box-shadow: 0 0 10px white ;
}

#copyright{
    margin-right: 30px;
    text-align: right;
}

#copyrightText{
    font-size: 25px;
    letter-spacing: 1px;
    padding:  15px;
}


#copyrightText > a{
    color: white;
    text-decoration: none;
    text-shadow: none;
}



@media(max-width: 1500px){
    
    h1{
        font-size: 5vw;
    
    }


    .wrapper{
        display: grid;
        grid-template-columns: 1fr 400px;   
        grid-auto-rows:minmax(0%, auto);

        grid-gap:1em;
        justify-items:stretch;
        align-items:stretch;
        box-sizing: border-box;
        text-align: center;
        align-content: center;

    }

    .isResizable{
        position: relative;
        grid-column: 1/3;
        grid-row: 4;
        margin-top: 0px;
        text-align: center;
    }
/*
    #map {
    
        grid-column: 1;
        grid-row: 3;
        
    }

    #locdiv{
      
        text-align: center;
        grid-column: 1/3;
        grid-row: 2;

    }
*/
    body{
        overflow: auto;
    }

    footer{  
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}

@media (pointer:none), (pointer:coarse) {
    
    body{
        overflow: auto;
    }

    header{
        font-size: 3vw;
        margin: auto;
        grid-column: 1;
        grid-row: 1;

    }


    #info{
        text-align: center;
        grid-column: 1;
        grid-row: 3;
        border: solid white 1px;
        border-radius: 20px;
        box-shadow: 0 0 10px white ;
        background-color: rgb(151, 143, 143, 0.25);
        resize: both;
    
    }

    #locationInput{


        font-size: 4vw;
        width: 50vw;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 10px white;
        transition: 0.3s;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr;   
        grid-auto-rows:minmax(0%, auto);
        
        justify-items:stretch;
        align-items:stretch;
        display: flexbox;
     
        box-sizing: border-box;   
        text-align: center;
        align-content: center;
    }


    #map{
        min-width: 0vw;
        grid-column: 1;
        grid-row: 4;
        /*margin: 50px;*/
        border-color: white 1px solid;
        border-radius: 20px;
        box-shadow: 0 0 10px white;
        width: 80vw;
        height: 80vw;
    
    }


    #locdiv{
        text-align: center;
        grid-column: 1;
        grid-row: 2;
    }

    .isResizable{
        grid-column: 1;
        grid-row: 5;
        margin: auto;
        margin-top: 0px;
        text-align: center;
        width: 80vw;
        height: 80vw;
    }


    h2{
        font-size: 7vw;
        margin-bottom: 30px;
    
    }
    h3{
    
        margin-bottom: 5px;
        font-size: 5vw;
    }

    #info, .isResizable, #map{
        margin: 4vw;
        padding: 4vw;
    }

    #week-info{
        min-height: 200px;
    }

    footer{  
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }

}

